.inputSearch {
    margin-top: 2.25rem;
    background-color: transparent;
    border: 3px solid #fff;
    height: 40px;
    width: 40px;
    padding: 0px 0px;
    font-size: 1.1em;
    font-weight: lighter;
    color: #fff;
    border-radius: 40px;
    transition: all 0.4s;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

@media (max-width: 425px) {
    .inputSearch {
        display: none;
    }
}

.inputSearch:focus {
    width: 350px;
    padding: 0 12px;
    outline: none;
}

.inputSearch + .search:after {
    content: '';
    border-top: 3px solid #fff;
    width: 15px;
    display: block;
    position: absolute;
    right: -6px;
    bottom: -8px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.inputSearch + .search:before {
    content: '';
    border-top: 3px solid #fff;
    width: 0px;
    display: block;
    position: absolute;
    right: -2px;
    bottom: 19px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-delay: 0s; /* Safari */
    transition-delay: 0s;
}

.inputSearch:focus + .search:after {
    content: '';
    border-top: 3px solid #fff;
    display: block;
    position: absolute;
    right: 10px;
    bottom: 9px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.inputSearch:focus + .search:before {
    right: 10px;
    bottom: 9px;
    width: 15px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-delay: 0.2s; /* Safari */
    transition-delay: 0.2s;
}

.search {
    position: relative;
    margin-bottom: 14px;
}

@media (max-width: 425px) {
    .search {
        display: none;
    }
}