a.bott {
    background-color: rgb(185 28 28 / var(--tw-bg-opacity));
    color: rgb(255 255 255);
    line-height: 1.5rem;
    display: block;
    font-size: 1.1em;
    text-decoration: none;
    text-align: center;
    font: 14px arial;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 10px;
    margin-top: 36px;
    border: none;
    border-radius: 3px;
    text-shadow: 0px -1px 0px #000;
    box-shadow: 0px 1px 0px #6e6e6e, 0px 5px 0px #bfbfbf, 0px 6px 6px rgb(255 0 0 / 60%);
    transition: ease .15s;
    animation: none;
}

a.bott:hover, a.bott:focus {
    -webkit-animation: linear 1.2s light infinite;
    -moz-animation: linear 1.2s light infinite;
    -o-animation: linear 1.2s light infinite;
    animation: linear 1.2s light infinite;
}

@-webkit-keyframes light {
    0% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }
    50% {
        color: #fff;
        text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff;
    }
    100% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }
}
@-moz-keyframes light {
    0% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }
    50% {
        color: #fff;
        text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff;
    }
    100% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }
}
@-o-keyframes light {
    0% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }
    50% {
        color: #fff;
        text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff;
    }
    100% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }
}
@keyframes light {
    0% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }
    50% {
        color: #fff;
        text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff;
    }
    100% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }
}
a.bott:active {
    color: #fff;
    text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff;
    box-shadow: 0px 1px 0px #666, 0px 2px 0px #444, 0px 2px 2px rgba(0, 0, 0, .9);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}